<a href="https://colab.research.google.com/github/chrishunt11/Project-2/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2
Name: Christopher Hunt

## Dataset 1 (International Football Results from 1872 to 2023)

In [1]:
import pandas as pd
fname = '/content/drive/MyDrive/Bootcamp: Coding Dojo/000 Project 2/Data/soccer_results.csv'
dff = pd.read_csv(fname)
pd.set_option('display.max_columns',100)
dff.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

Source of data
- [International football results from 1872 to 2023](https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017?select=results.csv)


Brief description of data
- This dataset has every international football results from 1872-2023

What is the target?
- The target is to predict if the home team won.


What does one row represent? (A person? A business? An event? A product?)
- One row represents a game played, an event.


Is this a classification or regression problem?
- This dataset is a classification problem.


How many features does the data have?
- This dataset has 9 features.


How many rows are in the dataset?
- This dataset has 44762 rows.

What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
- Some challenges I see are trying to figure out how to add in rows to determine whether the home team has won or not. Also choosing the appropriate columns

#### Example of adding in a row for home win

In [2]:
dff['home_win'] = dff['home_score'] > dff['away_score']
dff.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_win
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,True
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,True
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,True

## Dataset 2 (NBA Database 1946-2023)

In [3]:
import pandas as pd
fname = '/content/drive/MyDrive/Bootcamp: Coding Dojo/000 Project 2/Data/game.csv'
df = pd.read_csv(fname)
pd.set_option('display.max_columns',100)
df.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,fga_home,fg_pct_home,fg3m_home,fg3a_home,fg3_pct_home,ftm_home,fta_home,ft_pct_home,oreb_home,dreb_home,reb_home,ast_home,stl_home,blk_home,tov_home,pf_home,pts_home,plus_minus_home,video_available_home,team_id_away,team_abbreviation_away,team_name_away,matchup_away,wl_away,fgm_away,fga_away,fg_pct_away,fg3m_away,fg3a_away,fg3_pct_away,ftm_away,fta_away,ft_pct_away,oreb_away,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,NaN,NaN,NaN,NaN,NaN,16.0,29.0,0.552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,-2,0,1610612752,NYK,New York Knicks,NYK @ HUS,W,24.0,NaN,NaN,NaN,NaN,NaN,20.0,26.0,0.769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,59.0,0.339,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,56.0,5,0,1610610031,PIT,Pittsburgh Ironmen,PIT @ BOM,L,16.0,72.0,0.222,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,6,0,1610612738,BOS,Boston Celtics,BOS @ PRO,L,21.0,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,63.0,16,0,1610612752,NYK,New York Knicks,NYK @ CHS,L,16.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-17,0,1610610036,WAS,Washington Capitols,WAS @ DEF,W,18.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

Source of data
- [NBA Database](https://www.kaggle.com/datasets/wyattowalsh/basketball)


Brief description of data
- This dataset has all games played since the 1946-1947 season

What is the target?
- The target is Home team wins/loss

What does one row represent? (A person? A business? An event? A product?)
- One row represents a single game

Is this a classification or regression problem?
- This is a classification problem.

How many features does the data have?
- This dataset has 55 features.

How many rows are in the dataset?
- This dataset has 65698 rows.

What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
- Some challenges I see are dropping and choosing the appropriate features to help predict if the home team wins.